*~
._friendfeedhtml
._test
._ubiquity-docs
.DS_Store
database/oface_scratch.sql
example_feeds
friendfeedhtml
gitconfig
php-atompub-server-read-only-patch1.txt
php-atompub-server-read-only
server/.DS_Store
server/application/logs/*
server/application/config/database.php
server/application/config/session.php
server/modules/auth/config/auth.php
server/static/.DS_Store
server/static/._test_files
server/static/js/lib/._jquery-1.3.js
test-sync.txt
test
ubiquity-docs
xoop-js-from-internet
